<span class="social-bar">
    <a mat-button class="social-button" href="mailto:{{emailContact}}" target="_blank"><mat-icon class="social-icon" inline=true>mail_outline</mat-icon></a>
    
    <a mat-button class="social-button" href="https://www.instagram.com/{{instagramContact}}/?hl=en" target="_blank"><mat-icon class="social-icon" inline=true>camera_alt</mat-icon></a>
    
    <a mat-button class="social-button" href="{{shopContact}}" target="_blank"><mat-icon class="social-icon" inline=true>store</mat-icon></a>
</span>
