<h1>About Me</h1>

<p>
    My name is Laura and for as long as I can remember, I've bene into crafty projects.
    Recently, I deiscovered a pation for sewing and in this area you'll find some of my creations. 
</p>

<p>Feel free to shoot me a message if you see anything you like or if you have any ideas of your own!</p>


<h2>FAQ</h2>

<p>Are you products washer friendly?</p>

<p>Yes! All the fabrics I use are safe for the washer, but air dry only!</p>
<br/>
<p>Do you do customized items?</p>

<p>Reach out to me and I'll see what I can do!</p>

<br/>

<p>Will your mask elastics work for me?</p>

<p>The elastics are strong enough for all hair styles!</p>

<br/>

<p>I see something I like, but I'm not sure if it's the size I would like. Are the other options?</p>

<p>I offer most of my products in different sizes!</p>