.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.footer-table {
    margin: auto;
    width: 100%;
}

.footer-tr {
    width: 100%;
}
.footer-td {
    width: 33%;
}