.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.footer-link {
    width: 33%;
    font-size: 0.6em;
}

@media only screen and (min-width: 420px) {
    .footer-link {
        width: 33%;
        font-size: 0.8em;
    }
}

.footer-container {
    padding: 0;
}
