<footer class="bar footer">
  <nav class="navbar navbar-expand-lg navbar-dark bar fixed-bottom">
    <div class="container footer-container">
      <p class="m-0 text-center text-white footer-link nav-link" inline="true">
        Copyright &copy; Robert Abarrota 2020
      </p>

      <a class="m-0 text-center text-white footer-link nav-link" inline="true" [routerLink]="['/TermsConditions']">
        Terms & Conditions
      </a>

      <a class="m-0 text-center text-white footer-link nav-link" inline="true" [routerLink]="['/PrivacyPolicy']">
        Privacy Policy
      </a>
    </div>
  </nav>
</footer>