.carousel-container {
    display: block;
    width: 290px;
    padding: 0em 2em;
    margin: auto;
}

@media only screen and (min-width: 420px) {
    .carousel-container {
        display: block;
        width: 394px;
        padding: 0em 2em;
        margin: auto;
    }
  }

.home-colour {
    background: lavenderblush;
}