.faq-question {
    font-weight: bold;
}

.filter-panel {
    margin-bottom: 10px;
    border-radius: 10px !important;
}

.faq-header{
    height: auto !important;
    min-height: 48px;
    padding: 12px 24px;
}