::ng-deep .shop-menu {
    background-color: transparent;
    border-style: none;
    outline: none !important;
    padding-top: .4rem;
    padding-right: 0.1rem;
}

::ng-deep .mat-menu-content {
    background-color: darkgray !important;
}

::ng-deep .mat-menu-panel {
    background-color: transparent;
}

.mat-menu-item {
    color: rgba(255,255,255,.5);
    font-size: 0.94rem;
}

.shop-arrow {
    font-size: 16px !important;
}

::ng-deep .expansion-panel .mat-expansion-panel-body  {
    position: absolute !important;
    background-color: darkgray;
}

.expansion-panel {
    background-color: darkgray;
    box-shadow: none;
}

.nav-header {
    height: 40px !important;
    font-size: inherit;
    padding: 0px 8px;
}

::ng-deep .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: rgba(255,255,255,.5)
}

.panel-title {
    margin-right: 4px;
}

::ng-deep .mat-expansion-indicator { 
    padding-bottom: 5px;
}

.navbar-collapse {
    max-height: 200px !important;
}