<div class="row">
    <div class="col-lg-3">
        <h1 class="my-4">Filters</h1>
        <app-filter-widget *ngFor="let filter of filters" [filterProperty]="filter.name" [totalProducts]="totalProducts" (applyFilter)="applyFilter($event)"></app-filter-widget>
        <button mat-button class="clear-filter-button" (click)="resetFilters()">Clear Filters</button>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <div class="row">
            
            <div *ngFor="let product of displayProducts; let i = index" class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <button (click)="viewDetails(product.id)"><img class="card-img-top" [src]="product.images[0]" alt=""></button>
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="#">{{product.pattern}}</a>
                        </h4>
                        <h5>${{ product.price }}</h5>
                        <p class="card-text">Colour: {{ product.colour }}</p>
                        <p class="card-text">Material: {{ product.material }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                    <a href="#">Item One</a>
                    </h4>
                    <h5>$24.99</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                </div>
            </div> -->

        </div>
    </div>
</div>